[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
pytz = "*"
markdownify = "*"
zipfile2 = "*"
pyinstaller = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.9"
